<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search</title>

</head>
<body>
	<div>
		<h3>SEARCH!!!!!!!</h3>
		<div class="checkbox">
			<label><input type="checkbox" id="newTab">Open in new
				tab</label>
		</div>
		<form id="searchForm">
			<input type="text" id="textinput" placeholder="Search or type URL"><input
				type="submit" value="search">
		</form>

		<div id="engines"></div>
		<div><button onclick="showEngines()">change default engine</button></div>
		<div id="enginesDefault"></div>
	</div>



	<script>
		
		var searchEngines = [ {
			name : "Google",
			url : "https://www.google.com/search?q="
		}, {
			name : "Yahoo",
			url : "https://search.yahoo.com/search?p="
		}, {
			name : "StackO",
			url : "https://stackoverflow.com/search?q="
		} ];
		
		var defaultEngine = searchEngines[0];
		var customDefaulEngine=document.cookie.indexOf('defaulturl=');
		/* if(customDefaulEngine>=0){
			defaultEngine=
		} */
		console.log(customDefaulEngine);
		var searchForm = document.getElementById('searchForm');
		var newTab = document.getElementById('newTab');

		var text = '';
		searchEngines.forEach(function(engine) {
			text += '<button  onclick="search(\'' + engine.url
					+ '\')", title=\''+engine.name+'\'>';
			text += engine.name;
			text += ' </button>';

		});

		document.getElementById('engines').insertAdjacentHTML('afterbegin',
				text);
		
		searchForm.addEventListener('submit', function(e) {
			e.preventDefault();
			search(defaultEngine.url);
		});
		
		function search(url) {
			var searchText = document.getElementById('textinput').value;
			url += searchText;
			
			if (newTab.checked) {
				openInNewTab(url)
			} else {
				window.location.href = url;
			}
		}
		
		function openInNewTab(url) {
			var win = window.open(url, '_blank');
			win.focus();
		}
		

		var enginesList = document.getElementById('enginesDefault');
		function showEngines() {
			text2 = "";
			searchEngines.forEach(function(engine) {
				text2 += '<button  onclick="setDefault(\'' + engine.url
						+ '\')", title=\'' + engine.name + '\'>';
				text2 += engine.name;
				text2 += ' </button>';
				enginesList.innerHTML = "";
				enginesList.insertAdjacentHTML('afterbegin', text2);
			});
		}

		function setDefault(url) {
			document.cookie = "defaulturl=" + url;
			enginesList.innerHTML = "";
		}
	</script>
</html>